.container-modal-completado{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-modal-completado img{
    width: 150px;
    height: 150px;
}

.modal-completado{
    width: 350px;
    height: 250px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.modal-completado p{
    font-size: 18px;
    font-weight: bold;
    color: #fff;  
}